.read-wrapper {
    background-image: url('../../images/art-artist-background-1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

.p-editor-toolbar, .p-editor-content, .read-header, .read-box {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(240, 248, 255);
}

.p-editor-content, .read-box {
    height: 60vh;
    background-color: rgba(240, 248, 255, .9);
}

.read-box {
    border: solid 1px #3d3d3d;
    border-radius: 5px;
    padding: 10px;
}

.read-header {
    display: flex;
    flex-direction: row;
    background-color: rgba(240, 248, 255, .0);
    justify-content: space-between;
}

.read-header-rigth {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-read-header {
    padding: 10px 15px;
}

.item-read-header:first-child {
    padding: 20px 5px 5px 15px;
}

.item-read-header:last-child {
    padding: 5px 5px 20px 15px;
}

.icone-read-wrapper {
    width: 20px;
    cursor: pointer;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.icone-read-wrapper p {
    min-width: initial;
}

.icone-read-wrapper-custom img {
    padding: 0 0 0 5px;
}

.icone-read-wrapper-custom {
    padding: 0 10px;
    font-size: 1.5em;
}

.read-header-actions {
    display: flex;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
}

.read-header-alternativeText {
    padding: 15px;
    width: 90%;
    margin: 0 auto;
} 

.read-header-alternativeLink {
    display: flex;
    text-decoration: none;
    color: blue;
    font-size: .9em;
    cursor: pointer;
    height: 20px;
}

.read-header-alternativeLink p {
    padding: 0 20px;
}

.read-header-alternativeLink span {
    padding: 0 5px;
}

.read-header-alternativeLink img {
    width: 16px;
    height: 16px;
}

@media (max-width: 1000px) {

}

@media (max-width: 700px) {
    
}